# === BACKEND (Python / UV) ===
**/__pycache__/
**/*.py[cod]
**/build/
**/dist/
**/wheels/
**/*.egg-info
**/.venv/
**/.pytest_cache/
**/.hypothesis/
.env

# === FRONTEND (JavaScript / Node) ===
**/node_modules/
**/dist/
**/.env*.local

# === IDE & SISTEMA OPERATIVO ===
.vscode/
.idea/
.DS_Store
Thumbs.db